{% set ticket_salt = salt['pillar.get']('icinga2:master:ticket_salt', '') -%}
{% set node_name = salt['pillar.get']('icinga2:master:nodename', grains.nodename) -%}
/**
 * {{ salt['pillar.get']('do-not-touch-msg') }}
 */

const PluginDir = "/usr/lib/nagios/plugins"

const ManubulonPluginDir = "/usr/lib/nagios/plugins"

const PluginContribDir = "/usr/lib/nagios/plugins"

const NodeName = "{{ node_name }}"

const ZoneName = "master"

const EnableNotifications = true
const TicketSalt = "{{ ticket_salt }}"
