{% set zonename = salt['pillar.get']('icinga2:zonename') -%}
/**
 * {{ salt['pillar.get']('do-not-touch-msg') }}
 */

const PluginDir = "/usr/lib/nagios/plugins"

const ManubulonPluginDir = "/usr/lib/nagios/plugins"

const PluginContribDir = "/usr/lib/nagios/plugins"

const NodeName = "{{ grains.nodename }}"

const ZoneName = "{{ zonename }}"

const TicketSalt = ""
